[submodule ".registry"]
	path = .registry
	url = https://github.com/andrjohns/andrjohns.r-universe.dev
	branch = HEAD
[submodule "QuickJSR"]
	path = QuickJSR
	url = https://github.com/andrjohns/QuickJSR
[submodule "StanEstimators"]
	path = StanEstimators
	url = https://github.com/andrjohns/StanEstimators
[submodule "boostmath"]
	path = boostmath
	url = https://github.com/andrjohns/boostmath
[submodule "jsutils"]
	path = jsutils
	url = https://github.com/andrjohns/jsutils
