[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "QuickJSR"]
	path = QuickJSR
	url = https://github.com/andrjohns/quickjsr
	shallow = true
	registered = true
